.d-flex.align-items-center.justify-content-center
  %h1 Available Flights
%h1
%div

%div
  %input#huey{:checked => "checked", :name => "drone", :type => "radio", :value => "huey"}/
  %label{:for => "huey"} 05:00
%div
  %input#huey{:checked => "checked", :name => "drone", :type => "radio", :value => "huey"}/
  %label{:for => "huey"} 15:00
%div
  %input#huey{:checked => "checked", :name => "drone", :type => "radio", :value => "huey"}/
  %label{:for => "huey"} 19:00
  %div
  %input#huey{:checked => "checked", :name => "drone", :type => "radio", :value => "huey"}/
  %label{:for => "huey"} 11:00
  %div
  %input#huey{:checked => "checked", :name => "drone", :type => "radio", :value => "huey"}/
  %label{:for => "huey"} 17:00
  %div
  %input#huey{:checked => "checked", :name => "drone", :type => "radio", :value => "huey"}/
  %label{:for => "huey"} 20:00
= link_to "confirm", passenger_path
