.dropdown
  %button.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button"}
    Departing Airport
  %ul.dropdown-menu
    %li
      %a.dropdown-item{:href => "#"} Action
    %li
      %a.dropdown-item{:href => "#"} Another action
    %li
      %a.dropdown-item{:href => "#"} Something else here
