%div{:id => "#{dom_id create_flight}"}
  %p
    %strong Depairport:
    = create_flight.depairport
  %p
    %strong Arrairport:
    = create_flight.arrairport
  %p
    %strong Datetime:
    = create_flight.datetime
