%h1 Editing create flight
= render "form", create_flight: @create_flight
%br/
%div
  = link_to "Show this create flight", @create_flight
  |
  \#{link_to "Back to create flights", create_flights_path}
